.graphContainer {
    height: 404px;
    left: 40px;
    top: 987px;

    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;
    border-radius: 16px;
}

.recharts-legend-item-text {
    color: #FFF;
}