.libraryTextWrapper {
    text-align: left;
    margin-left: 60px;
    margin-top: 33px;
}

.libraryImageWrapper {
    position: absolute;
    top: 0;
    z-index: -1;
}

.librarySliderCenterLoaderMargin {
    margin-top: 160px;
    margin-bottom: 159px;
}