.sortGrapWrapper {
    display: flex;
    gap: 16px;
}

.libraryTextWrapper {
    text-align: left;
    margin-left: 60px;
    margin-top: 33px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.libraryImageWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.librarySliderCenterLoaderMargin {
    margin-top: 160px;
    margin-bottom: 159px;
}

.filterWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    /* background: white; */
}

.filter-container {
    border-radius: 4px;
    width: 130px !important;
}

.filter-container fieldset {
    border: 1px solid #E8BA73 !important;
}

.filter-container svg {
    color: white;
}

#demo-videos-select {
    text-align: left;
}

.filter-label {
    color: white !important;
    background: black !important;
    font-size: 11px;
}

.filter-select > div {
    color: white;
}

.search-btn {
    background-color: #E8BA73;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    font-weight: 700;
}

select {
  background-color: #15171A;
  color: white;
  border-radius: 5px;
  border: 1px solid #E8BA73;
}

.filter-search {
    /* border: 1px solid #E8BA73 !important; */
    border-radius: 4px;
    width: 150px !important;
}

.filter-search fieldset {
    border: 1px solid #E8BA73 !important;
}

.filter-search > label {
    color: white !important;
}

.filter-search input {
    color: white !important;
}

.MuiList-root.MuiMenu-list {
    border-radius: 4px;
    border: 1px solid #E8BA73;
    background-color: black;
    color: white;
}