.questionMarkContainer {
    background-color: var(--primary);
    width: 15px;
    height: 15px;
    border-radius: 100px;
}

.pokerPlayerMPWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1C;
    width: 94px;
    height: 31px;
    border-radius: 8px;
    overflow-x: hidden;
}

.pokerPlayerMPWrapperInverted {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 94px;
    height: 31px;
    border-radius: 8px;
    overflow-x: hidden;
}

.pokerPlayerItemsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    position: relative;
}

.gameChipBBWrapper1 {
    top: -20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper2 {
    top: -20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper3 {
    top: -20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper4 {
    top: 20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper5 {
    top: 20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper6 {
    top: 20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper7 {
    top: 20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper8 {
    top: 20px;
    right: 0;
    left: 0;
}

.gameChipBBWrapper9 {
    top: 20px;
    right: 0;
    left: 0;
}

.pokerChips {
    position: absolute;
}

.chipP1 {
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chipP2 {
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chipP3 {
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chipP4 {
    top: 40px;
    left: 0;
    right: 180px;
    bottom: 0;
}

.chipP5 {
    top: 30px;
    left: -180px;
    right: 0;
    bottom: 0;
}

.chipP6 {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chipP7 {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chipP8 {
    top: 40px;
    left: 160px;
    right: 0;
    bottom: 0;
}

.chipP9 {
    top: 40px;
    left: 160px;
    right: 0;
    bottom: 0;
}

.dealerChipBottomLeft {
    padding-right: 100px;
}

.dealerChipTopLeft {
    padding-right: 100px;
}

.dealerChipTopRight {
    padding-left: 100px;
}

.dealerChipBottomRight {
    padding-left: 100px;
}


.pokerPlayerItemsWrapper {
    transition: transform 1s ease-out;
}
.pokerPlayerItemsWrapper img {
    transition: transform 0.5s ease-out;
}

.badge {
    transition: all 0.5s ease-out;
}
  