.payment-container{
    display: block;
}
.suscription-card{
    width: 100%;
    padding: 10px 0;
    background-color: #101112;
    border-radius: 16px;
    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;
}

.price-container{
    width: 95%;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    min-height: 185px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap:20px;
    position: relative;
    overflow: hidden;
}
.suscription-card-list > ul{
    width: 70%;
    padding: 0;
    margin: 50px auto;
}
.card-list-item{
    list-style: none;
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 10px;
    align-items: center;
    text-align: center;
}
.card-check{
    color: white;
    background-color: #698a42;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
}
.card-plan-button{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.picking-status {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgba(232, 186, 115, 1);
    height: 28px;
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-family: Inter;
    box-sizing: border-box;
}

.picked-plan {
    background-color: rgba(232, 186, 115, 1);
    color: rgba(21, 23, 26, 1);
}

.unpicked-plan {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}
