.container {
    height: 100vh;
    overflow-y: hidden;
}

.contentContainer {
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.screenTemplateQuestionProgressWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}