.topicModalAllLessonsWrapper {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.topicModalPlayCircle {
    border-radius: 100px;
    min-width: 53px;
    min-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    margin-right: 9px;
}

.topicModalLessonItemWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 80px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #505050;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
}

.topicModalLessonItemWrapper:hover {
    background-color: rgba(255, 255, 255, 0.1);
}