.topicModalAllLessonsWrapper {
    height: 300px;
    width: 100%;
    overflow-y: scroll;
}

.topicModalLessonItemWrapper {
    cursor: pointer;
}

.topicModalLessonItemWrapper:hover {
    cursor: pointer;
    background-color: var(--primary);
}