.monthlyChallengeEngagementWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthlyChallengeEngagementDayWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.monthlyChallengeEngagementActiveWrapper {
    width: 14px;
    height: 14px;
    margin: 3px;
    border-radius: 100px;
    background-color: var(--primary);
}

.monthlyChallengeEngagementInActiveWrapper {
    width: 14px;
    height: 14px;
    margin: 3px;
    border-radius: 100px;
    background-color: #454647;
}
.monthlyChallengeEngagementNullWrapper {
    width: 14px;
    height: 14px;
    margin: 3px;
    border-radius: 100px;
    background-color: rgb(29, 29, 29);
}
.monthlyChallengeEngagementCalendarWrapper {
    display: flex;
    flex-wrap: wrap;
}