#payment-form {
  width: 35vw;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 20px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#card-element {
  border-radius: 4px 4px 0 0;
  border: 1px solid rgba(50, 50, 93, 0.1);
  height: 50px;
  padding: 14px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
#submit {
  margin-bottom: 32px;
}

.checkoutFormButtonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.payment-container {
  width: 100%;
  margin: 0 auto;
}
.suscriptions-container {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  justify-items: center;
  margin: 20px auto;
  overflow-x: scroll;
}
.subscriptions_container_one {
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
}
.sub-card-title{
  width: 90%;
  margin: 10px auto;
}
.suscriptions-container::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 600px) {
  #payment-form {
    width: 80vw;
  }
}
@media screen and (min-width: 700px) {
  .suscriptions-container {
    width: 100%;
  }
}

.confirm-modal {
  box-sizing: border-box;
  width: 540px;
  height: 320px;
  background: radial-gradient(45.16% 25.26% at 49.92% 1.8%, #423828 0%, #322C23 0.01%, #15171A 100%); /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  border: 1px solid #E8BA73;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-content {
  width: 436px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 26px;
}
