.search-btn {
  background-color: #E8BA73;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}

select {
  background-color: #15171A;
  color: white;
  border-radius: 5px;
  border: 1px solid #E8BA73;
}