.monthEventCardContainer {
    height: 100px;
    border-radius: 16px;
    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;
    cursor: pointer;
    text-align: left;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}