.homeDashboardContainer {
}

.homeTopWrapper {
    display: flex;
    justify-content: space-around;
    border-top-color: #505050;
    border-top-width: 1px;
    border-top-style: solid;
    margin-left: 60px;
    margin-right: 60px;
}

.homeTextWrapper {
    text-align: left;
    margin-top: 33px;
    margin-bottom: 14px;
}

.homeTitleWrapper {
    border-bottom-color: #505050;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 80%;
    margin-left: 60px;
}

.homeMonthEventCardWrapper {
    margin-top: 16px;
    margin-left: 60px;
    margin-right: 60px;
    width: 100%;
}

.homeGraphWrapper {
    margin-top: 16px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    width: 100%;
}

.homeCenterLoader {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.homeUnderBannerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 73px;
}

.homeLeftSectionUnderBannerWrapper {
    width: 200px;
    border-right-color: #505050;
    border-right-style: solid;
    border-right-width: 1px;
    margin-right: 40px;
    padding-right: 20px;
}

.homeLeftSectionUnderTextBannerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.homeButtonWrapper {
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .homeTopWrapper {
        display: block;
    }
}

@media (max-width: 700px) {
    .homeUnderBannerWrapper {
        display: block;
    }
    .homeLeftSectionUnderBannerWrapper {
        width: 100%;
        border-right-width: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }
}
