.settingsContainer {
    background: var(--main-bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.settingsUploadButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settingsAvatarWrapper {
    width: 70%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
}

.settingsButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cardContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center
}
/* .selfCard{

}
.upgradeCardForm{

} */
@media (max-width: 900px) {
    .settingsUploadButtonsWrapper {
        display: grid;
    }
}
@media screen and (min-width:700px){
    .settingsAvatarWrapper{
        width: 100%;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 15px;
       
    } 
}