.settingsContainer {
    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsUploadButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settingsAvatarWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.settingsLogoutBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 900px) {
    .settingsUploadButtonsWrapper {
        display: grid;
    }
}