.settingsContainer {
    background: var(--main-bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsUploadButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.settingsAvatarWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.settingsLogoutBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width: 900px) {
    .settingsUploadButtonsWrapper {
        display: grid;
    }
}