.progressCardContainer {
    border-radius: 16px;
    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;
    width: 300px;
    height: 380px;
    text-align: left;
    padding: 40px;
}

.progressCardPercentageWrapper {
    border-radius: 100px;
    background-color: #15171A;
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    margin-top: -100px;
}

.progressCardTitleWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}