.emailResetContainer {
    background: radial-gradient(99.31% 94.34% at 49.88% -2.58%, rgba(232, 186, 115, 0.15) 0%, rgba(232, 186, 115, 0) 72.18%), #15171A;;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}